<div class="container box">
  <form [formGroup]="form" (ngSubmit)="submit()">
    <div class="row">
      <div class="col">
        <div class="form-group">
          <label for="firstname">Prénom<span class="red">*</span></label>
          <input
            formControlName="firstname"
            id="firstname"
            type="text"
            class="form-control"
          />
          <div
            *ngIf="f['firstname'].touched && f['firstname'].invalid"
            class="alert-danger"
          >
            <div
              *ngIf="f['firstname'].errors && f['firstname'].errors['required']"
            >
              Un prénom est requis.
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="lastname">Nom<span class="red">*</span></label>
          <input
            formControlName="lastname"
            id="lastname"
            type="text"
            class="form-control"
          />
          <div
            *ngIf="f['lastname'].touched && f['lastname'].invalid"
            class="alert-danger"
          >
            <div
              *ngIf="f['lastname'].errors && f['lastname'].errors['required']"
            >
              Un nom de famille est requis.
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="phone">Téléphone<span class="red">*</span></label>
          <input
            formControlName="phone"
            id="phone"
            type="phone"
            class="form-control"
          />
          <div
            *ngIf="f['phone'].touched && f['phone'].invalid"
            class="alert-danger"
          >
            <div *ngIf="f['phone'].errors && f['phone'].errors['required']">
              Un numéro de téléphone est requis.
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="email">Email<span class="red">*</span></label>
          <input
            formControlName="email"
            id="email"
            type="email"
            class="form-control"
          />
          <div
            *ngIf="f['email'].touched && f['email'].invalid"
            class="alert-danger"
          >
            <div *ngIf="f['email'].errors && f['email'].errors['required']">
              Une adresse mail est requise.
            </div>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="form-group">
          <label for="sexe">Genre<span class="red">*</span></label>
          <select
            formControlName="sexe"
            id="sexe"
            type="select"
            class="form-control"
          >
            <option value="">--Choisir un genre--</option>
            <option value="F">Féminin</option>
            <option value="M">Masculin</option>
            <option value="Other">Autre</option>
          </select>
          <div
            *ngIf="f['sexe'].touched && f['sexe'].invalid"
            class="alert-danger"
          >
            <div *ngIf="f['sexe'].errors && f['sexe'].errors['required']">
              Veuillez sélectionner un genre.
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="birthdate"
            >Date de naissance<span class="red">*</span></label
          >
          <input
            formControlName="birthdate"
            id="birthdate"
            type="date"
            class="form-control"
          />
          <div
            *ngIf="f['birthdate'].touched && f['birthdate'].invalid"
            class="alert-danger"
          >
            <div
              *ngIf="f['birthdate'].errors && f['birthdate'].errors['required']"
            >
              Une date de naissance est requise.
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="address">Adresse</label>
          <input
            formControlName="address"
            id="address"
            type="text"
            class="form-control"
          />
        </div>

        <div class="form-group">
          <label for="password"
            >Mot de passe temporaire<span class="red">*</span></label
          >
          <input
            formControlName="password"
            id="password"
            type="password"
            class="form-control"
          />
        </div>
        <div class="align-right">
          <button class="button" type="submit">
            <svg
              class="w-6 h-6"
              fill="none"
              stroke="currentColor"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M8 7H5a2 2 0 00-2 2v9a2 2 0 002 2h14a2 2 0 002-2V9a2 2 0 00-2-2h-3m-1 4l-3 3m0 0l-3-3m3 3V4"
              ></path>
            </svg>
            Enregistrer
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
