<div class="side-bar">
  <div class="d-flex justify-content-center">
    <img
      class="logoClub"
      src="/assets/img/BRFC Logo (est 1923).svg"
      alt=""
      height="120"
    />
  </div>
  <div
    class="side-navbar active-nav d-flex justify-content-between flex-wrap flex-column"
    id="sidebar"
  >
    <ul class="nav flex-column text-white">
      <a [routerLink]="['/dashboard']" class="nav-link h3 text-white my-2">
        <span class="club">BRFC</span>
      </a>
      <li [routerLink]="['/mes-clubs']" class="nav-link">
        <span class="mx-2"><i class="bi bi-house"></i> Mes Clubs</span>
      </li>
      <li [routerLink]="['/dashboard']" class="nav-link">
        <span class="mx-2"
          ><i class="bi bi-speedometer2"></i> Tableau de bord</span
        >
      </li>
      <li [routerLink]="['/liste-membres']" class="nav-link">
        <span class="mx-2"
          ><i class="bi bi-people"></i> Gestion des membres</span
        >
      </li>
      <li [routerLink]="['/gestion-des-cotisations']" class="nav-link">
        <span class="mx-2"
          ><i class="bi bi-currency-euro"></i> Gestion des cotisations</span
        >
      </li>
      <span class="mx-2"
        ><li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <i class="bi bi-gear"></i> Réglages
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <a class="dropdown-item" [routerLink]="['/editer-mon-club']"
                ><i class="bi bi-pencil-square"></i> Editer mon Club</a
              >
            </li>
            <li [routerLink]="['/ajouter-un-membre']" class="dropdown-item">
              <i class="bi bi-pencil-square"></i> Editer fiche membre
            </li>
            <li>
              <a class="dropdown-item" href="#"
                ><i class="bi bi-currency-euro"></i> Infos paiement</a
              >
            </li>
          </ul>
        </li>
      </span>
    </ul>
  </div>

  <footer>
    <div class="d-flex justify-content-center">
      <img
        class="logoSA"
        src="/assets/img/LogoSportsAdminGrey.png"
        height="100"
      />
    </div>
  </footer>
</div>
