<div class="container mt-5">
  <table class="table table-borderless table-responsive card-1 p-4">
      <thead>
          <tr class="list-item">
              <th> <span class="ml-2">Membre</span> </th>
              <th> <span class="ml-2">Validité de licence</span> </th>
              <th> <span class="ml-2">Catégorie</span> </th>
              <th> <span class="ml-2">Contact</span> </th>
              <th> <span class="ml-4">Editer</span> </th>
          </tr>
      </thead>
      <tbody>
          <tr class="list-item">
              <td>
                  <div class="p-2 d-flex flex-row align-items-center mb-2"> <img src="https://i.imgur.com/ZSkeqnd.jpg" width="40" class="rounded-circle">
                      <div class="d-flex flex-column ml-2"> <span class="d-block font-weight-bold">Jennifer john</span>
                        <small class="text-muted">Loisirs</small>
                        <small class="text-muted">123 456</small>
                      </div>
                  </div>
              </td>
              <td>
                <div class="p-2 d-flex flex-column"> <span>Licencié</span> <span>Saison 2021/2022</span> </div>
              </td>
              <td>
                  <div class="p-2 d-flex flex-column"> <span>Adulte</span> <span>Expire le 18/05/2022</span> </div>
              </td>
              <td>
                <div class="p-2 d-flex flex-column"> <span>jennifer@mail.com</span> <span>06 50 50 54 51</span> </div>
            </td>
              <td>
                  <div class="p-2 icons"> <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z">
                    </path></svg>
                  </div>
              </td>
          </tr>
          <tr class="list-item">
              <td>
                  <div class="p-2 d-flex flex-row align-items-center mb-2"> <img src="https://i.imgur.com/C4egmYM.jpg" class="rounded-circle" width="40">
                      <div class="d-flex flex-column ml-2"> <span class="d-block font-weight-bold">David Smith</span>
                        <small class="text-muted">Loisirs</small>
                        <small class="text-muted">555 456</small>
                      </div>
                  </div>
              </td>
              <td>
                <div class="p-2 d-flex flex-column"> <span>Licencié</span> <span>Saison 2021/2022</span> </div>
              </td>
              <td>
                  <div class="p-2 d-flex flex-column"> <span>Adulte</span> <span>Expire le 18/05/2022</span> </div>
              </td>
              <td>
                <div class="p-2 d-flex flex-column"> <span>david@mail.com</span> <span>06 10 20 30 40</span> </div>
            </td>
              <td>
                  <div class="p-2 icons"> <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z">
                    </path></svg>
                  </div>
              </td>
          </tr>
          <tr class="list-item">
              <td>
                  <div class="p-2 d-flex flex-row align-items-center mb-2"> <img src="https://i.imgur.com/hczKIze.jpg" width="40" class="rounded-circle">
                      <div class="d-flex flex-column ml-2"> <span class="d-block font-weight-bold">Nick Jones</span>
                        <small class="text-muted">Compétiteur</small>
                        <small class="text-muted">505 476</small>
                      </div>
                  </div>
              </td>
              <td>
                <div class="p-2 d-flex flex-column"> <span>Licence en attente de validation</span> <span>Saison 2021/2022</span> </div>
              </td>
              <td>
                  <div class="p-2 d-flex flex-column"> <span>Etudiant</span> <span>Expire le 18/05/2022</span> </div>
              </td>
              <td>
                <div class="p-2 d-flex flex-column"> <span>nick@mail.com</span> <span>06 10 54 54 54</span> </div>
              </td>
              <td>
                  <div class="p-2 icons"> <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z">
                    </path></svg>
                  </div>
              </td>
          </tr>
      </tbody>
  </table>
</div>
