<div class="container mt-5">
  <table class="table table-borderless table-responsive card-1 p-4">
      <thead>
          <tr class="header-table">
              <th> <span class="ml-2">Membre</span> </th>
              <th> <span class="ml-2">Validité de licence</span> </th>
              <th> <span class="ml-2">Catégorie</span> </th>
              <th> <span class="ml-2">Contact</span> </th>
              <th> <span class="ml-4">Editer</span> </th>
          </tr>
      </thead>
      <tbody>
          <tr class="list-item" *ngFor="let user of users | slice: (page-1) * pageSize : page * pageSize">
              <td>
                  <div class="p-2 d-flex flex-row align-items-center mb-2"> <img src="https://i.imgur.com/ZSkeqnd.jpg" width="50" class="rounded-circle">
                      <div class="d-flex flex-column ml-2"> <span class="d-block fw-bold">{{ user.firstname }} {{ user.lastname }}</span>
                        <span class="text-muted">Loisirs</span>
                        <span class="text-muted">{{ user.licenseNumber}}</span>
                      </div>
                  </div>
              </td>
              <td>
                <div class="p-2 d-flex flex-column fst-italic"> <span>Licencié</span> <span>Saison 2021/2022</span> </div>
              </td>
              <td>
                  <div class="p-2 d-flex flex-column fst-italic"> <span>Adulte</span> <span>Expire le 18/05/2022</span> </div>
              </td>
              <td>
                <div class="p-2 d-flex flex-column fst-italic"> <span>{{ user.email }}</span> <span> {{ user.phone }}</span> </div>
            </td>
              <td>
                  <div class="p-2 icons"> <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z">
                    </path></svg>
                  </div>
              </td>
          </tr>
      </tbody>
  </table>
  <ngb-pagination
  [(page)]="page"
  [pageSize]="pageSize"
  [collectionSize]="users.length"></ngb-pagination>
</div>

