<div class="container-fluid dashboard">
  <div class="container section">
    <div class="icon">
      <svg
        class="w-6 h-6"
        fill="none"
        stroke="currentColor"
        viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="1.5"
          d="M12 4.354a4 4 0 110 5.292M15 21H3v-1a6 6 0 0112 0v1zm0 0h6v-1a6 6 0 00-9-5.197M13 7a4 4 0 11-8 0 4 4 0 018 0z"
        ></path>
      </svg>
    </div>
    <div class="infos">
      <h4>Nombre total de membres: 87</h4>
    </div>
    <div class="gained-members">
      <h1>+15</h1>
      <p>depuis 1 mois</p>
      <h5>Nombre total de licenciés: 52</h5>
      <h5>Licenciés en attente de renouvellement: 34</h5>
    </div>
    <button [routerLink]="['/liste-membres/']" [queryParams]="{id: clubId['id']}">
      Gestion des membres
    </button>
  </div>

  <div class="container section">
    <div class="icon">
      <svg
        class="w-6 h-6"
        fill="none"
        stroke="currentColor"
        viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="1.5"
          d="M14.121 15.536c-1.171 1.952-3.07 1.952-4.242 0-1.172-1.953-1.172-5.119 0-7.072 1.171-1.952 3.07-1.952 4.242 0M8 10.5h4m-4 3h4m9-1.5a9 9 0 11-18 0 9 9 0 0118 0z"
        ></path>
      </svg>
    </div>
    <div class="infos">
      <h4>Total des cotisations: 1287€</h4>
    </div>
    <div class="total-cotisations">
      <h1>+150€</h1>
      <p>depuis 1 mois</p>
    </div>
    <button [routerLink]="['/gestion-des-cotisations']" [queryParams]="{id: clubId['id']}">
      Gestion des cotisations
    </button>
  </div>
</div>
