$base-color: #4ac285;
$primary: var(--primary-color);
$secondary: var(--secondary-color);

.button-ajout {
  font-weight: bold;
  margin: 30px;
}

.plus {
  height: 20px;
  margin: auto;
}

.section {
  text-align: center;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  border-radius: 35px;
  height: 750px;
  width: 400px;
  margin: 50px;
  margin-top: 100px;
  margin-bottom: 150px;
}

svg {
  height: 150px;
  margin: 30px;
  color: $secondary;
}

h1 {
  color: $secondary;
}

h5 {
  text-align: left;
  margin: 30px;
}

.dashboard {
  display: inline-flex;
}

@media screen and (max-width: 600px) {
  .dashboard {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 30px;
  }

  h5 {
    text-align: center;
  }
}
