.corp,
.button,
.page {
	display: flex;
	justify-content: center;
}
h1{
	text-align: center;
}

.corp {
	margin-top: 15px;
	margin-bottom: 20px;
}
input {
	margin-left: 20px !important;
	border: 0.5px solid black !important;
	border-radius: 20px !important;
	box-shadow: rgb(0 0 0 / 16%) 0px 3px 6px, rgb(0 0 0 / 23%) 0px 3px 6px !important;
}
button {
	margin-bottom: 15px !important;
	background-color: #4ac285;
	border: none;
	color: white;
	border-radius: 10px !important;
	padding: 5px;
	box-shadow: rgb(0 0 0 / 16%) 0px 3px 6px, rgb(0 0 0 / 23%) 0px 3px 6px !important;
}
.bord {
	border-radius: 20px !important;
	box-shadow: rgb(0 0 0 / 16%) 0px 3px 6px, rgb(0 0 0 / 23%) 0px 3px 6px !important;
}

.text {
	margin-top: 15px;
	margin-bottom: 15px;
	text-align: center;
}
.page {
	margin-top: 50px;
}

.button2 {
	margin-top: 15px !important;
	display: flex;
	justify-content: center;
}

a{
	color:black;
}

// the ~ allows you to reference things in node_modules
@import "~bootstrap/scss/bootstrap";
