<div class="container-fluid layout">
  <div class="container welcome-page">
    <img src="./assets/img/LogoSportsAdminWhite.png" class="logo" />
    <div class="container subscribe-block white-text text-start">
      <h1>Bienvenue sur SportsAdmin !</h1>
      <h2>Vous gérez un club ?</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit, rerum
        reiciendis. Qui porro quisquam iste repellat, delectus totam! Quas dolor
        necessitatibus consequatur magni,quae excepturi sequi iure dolore
        accusantium culpa.
      </p>
      <a class="subscribe" [routerLink]="['/editer-mon-club']">Inscrire mon Club</a>
    </div>
  </div>
  <div class="container login">
    <div class="container login-form">
      <img src="./assets/img/LogoSportsAdminGreen.png" class="green-logo" />
      <h2>Se connecter</h2>
      <div>
        <form
        name="loginForm"
        (ngSubmit)="loginForm.valid"
        #loginForm="ngForm"
        no
        validate>
        <div class="form-group">
          <label>Identifiant*</label>
          <input
          name="email"
          type="text"
          class="form-control"
          [(ngModel)]="user.email"
          #email="ngModel"
          [ngClass]="{ 'is-invalid': loginForm.submitted && email.invalid }"
            required
            email
          />
          <div
            *ngIf="loginForm.submitted && email.invalid"
            class="invalid-feedback"
          >
            <div *ngIf="email.errors.required">L'identifiant est requis.</div>
            <div *ngIf="email.errors.email">
              L'identifiant doit être une adresse mail valide.
            </div>
          </div>
        </div>
        <div class="form-group">
          <label>Mot de passe*</label>
          <input
          name="password"
          class="form-control"
          type="password"
          [(ngModel)]="user.password"
          #password="ngModel"
          [ngClass]="{
            'is-invalid': loginForm.submitted && password.invalid
          }"
          required
          minlength="6"
        />
        <div
          *ngIf="loginForm.submitted && password.invalid"
          class="invalid-feedback"
        >
          <div *ngIf="password.errors.required">
            Le mot de passe est requis.
          </div>
          <div *ngIf="password.errors.minlength">
            Le mot de passe doit contenir minimum 6 caractères.
          </div>
          </div>
        </div>
        <button
          id="btn-login"
          (click)="login()"
        >
          Se connecter
        </button>
        <div class="forgot-password"><a [routerLink]="['/oubli-password']">Mot de passe oublié</a></div>
        </form>
      </div>
    </div>
</div>
</div>
