<form [formGroup]="fieldForm" (ngSubmit)="onSubmit()">
  <label for="label">Label du champ: </label>
  <input id="label" type="text" formControlName="label"/>

  <label for="type">Type du champ: </label>
  <input id="type" type="text" formControlName="type"/>
 {{ this.fieldForm.value | json }}
 <input id="type" type="text" formControlName="type"/>
  <!-- <div formGroupName="address">
    <h2>Address</h2>

    <label for="street">Street: </label>
    <input id="street" type="text" formControlName="street" required />

    <label for="city">City: </label>
    <input id="city" type="text" formControlName="city" />

    <label for="state">State: </label>
    <input id="state" type="text" formControlName="state" />

    <label for="zip">Zip Code: </label>
    <input id="zip" type="text" formControlName="zip" />
  </div> -->

  <div formArrayName="aliases">
    <h2>Aliases</h2>
    <button type="button" (click)="addAlias()" type="button">
      + Add another alias
    </button>

    <div *ngFor="let alias of aliases.controls; let i = index">
      <!-- The repeated alias template -->
      <label for="alias-{{ i }}">Alias:</label>
      <input id="alias-{{ i }}" type="text" [formControlName]="i" />
    </div>
  </div>
  <!-- <app-custom-form></app-custom-form>-->


  <!--<button type="button" (click)="updateProfile()">Update Profile</button>

  <p>Complete the form to enable button.</p> -->
  <button type="submit" [disabled]="fieldForm.invalid">Submit</button>
</form>
