<div class="container">
<h1>Fiche d’informations requises adhérent</h1>
<div class="container box">
  <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
    <p>
      <label for="name">Field Name:</label>
      <input type="text" id="name" name="name" formControlName="name" class="form-control">
    </p>
    <table class="table table-bordered" formArrayName="fields">
      <tr>
        <th colspan="2">Add Field:</th>
        <th width="150px"><button type="button" (click)="addfield()" class="btn btn-primary">Add More</button></th>
      </tr>
      <tr *ngFor="let field of fields().controls; let i=index" [formGroupName]="i">
        <td>
            New field :
            <input type="text" formControlName="qty" class="form-control">
        </td>
        <td>
            <button (click)="removefield(i)" class="btn btn-danger">Remove</button>
        </td>
      </tr>
    </table>
    <button type="submit" class="btn btn-success">Submit</button>
  </form>
  <br/>

  {{this.myForm.value | json}}

</div>
</div>
