$base-color: #4AC285;
$primary: var(--primary-color);
$secondary: var(--secondary-color);

.mb-3 {
  padding-top: 50px;
}

label {
  margin-left: 30px;
}

input {
   border-radius: 30px;
}

.searchbar, .search-export {
  display: flex;
  margin-top: 50px;
  margin-bottom: 50px;
}

.search-export{
  padding-top: 30px;
  padding-bottom: 30px;
}

.end {
  margin-left: auto
}

button {
  border-radius: 30px;
  background-color : $secondary;
  color: white;
  border: none;
  font-weight: bold;
  justify-content: end;
  padding: 5px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  margin-top: 30px;
}

img {
  border-radius: 30px;
  margin-right: 15px;
}

svg {
 height: 20px;
 margin: 15px;
 cursor: pointer;
}

.delete {
  color: red;
}

.edit {
  color: green;
}

tr {
  border-collapse: collapse;
  border-radius: 50px;
  border-style: hidden; /* hide standard table (collapsed) border */
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.header-table {
  box-shadow: none;
}

ngb-pagination ::ng-deep ul > li:not(.active) > a {
  color: black;
  border-radius: 50px;
  border: none;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 30px;
  margin-top: 30px;
}

ngb-pagination ::ng-deep ul > li.active > a {
  background-color: $secondary !important;
  border-radius: 50px;
  border: none;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 30px;
  margin-top: 30px;
}

ngb-pagination ::ng-deep span.sr-only {
  display: none;
}

th[sortable]
  {
   cursor: pointer;
   user-select: none;
   -webkit-user-select: none;
   }

 th[sortable].desc:before, th[sortable].asc:before {
   content: '';
   display: block;
   background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAAAAXNSR0IArs4c6QAAAmxJREFUeAHtmksrRVEUx72fH8CIGQNJkpGUUmakDEiZSJRIZsRQmCkTJRmZmJgQE0kpX0D5DJKJgff7v+ru2u3O3vvc67TOvsdatdrnnP1Y///v7HvvubdbUiIhBISAEBACQkAICAEhIAQ4CXSh2DnyDfmCPEG2Iv9F9MPlM/LHyAecdyMzHYNwR3fdNK/OH9HXl1UCozD24TCvILxizEDWIEzA0FcM8woCgRrJCoS5PIwrANQSMAJX1LEI9bqpQo4JYNFFKRSvIgsxHDVnqZgIkPnNBM0rIGtYk9YOOsqgbgepRCfdbmFtqhFkVEDVPjJp0+Z6e6hRHhqBKgg6ZDCvYBygVmUoEGoh5JTRvIJwhJo1aUOoh4CLPMyvxxi7EWOMgnCGsXXI1GIXlZUYX7ucU+kbR8NW8lh3O7cue0Pk32MKndfUxQFAwxdirk3fHappAnc0oqDPzDfGTBrCfHP04dM4oTV8cxr0SVzH9FF07xD3ib6xCDE+M+aUcVygtWzzbtGX2rPBrEUYfecfQkaFzYi6HjVnGBdtL7epqAlc1+jRdAap74RrnPc4BCijttY2tRcdN0g17w7HqZrXhdJTYAuS3hd8z+vKgK3V1zWPae0mZDMykadBn1hTQBLnZNwVrJpSe/NwEeDsEwCctEOsJTsgxLvCqUl2ACftEGvJDgjxrnBqkh3ASTvEWrIDQrwrnJpkB3DSDrGW7IAQ7wqnJtkBnLRztejXXVu4+mxz/nQ9jR1w5VB86ejLTFcnnDwhzV+F6T+CHZlx6THSjn76eyyBIOPHyDakhBAQAkJACAgBISAEhIAQYCLwC8JxpAmsEGt6AAAAAElFTkSuQmCC) no-repeat;
   background-size: 22px;
   width: 22px;
   height: 22px;
   float: left;
 }

 th[sortable].desc:before {
   transform: rotate(180deg);
   -ms-transform: rotate(180deg);
 }

 i {
   margin-left: 5px;
 }

 .photo {
  width: 250px;
}

input, select {
  border-radius: 20px;
}

.modal-content {
  border-radius: 30px;
}

.update {
  display: flex;
  justify-content: flex-end;
  }

  .input-search{
    width: 400px;
  }
