$base-color: #4AC285;

.club {
  text-align: center;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  border-radius: 35px;
  height: 400px;
  width: 400px;
  margin: 50px;
  transition: 0.5s;
}

.clubs {
  display: inline-flex;
}

button {
  border-radius: 10px;
  background-color : $base-color;
  border: none;
  font-weight: bold;
  margin: 30px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.button-create {
  display: flex;
  justify-content: end;
}

svg {
  height: 20px;
}

img {
  margin: 50px;
}

.club:hover {
  transform: translateY(-20px);
  color: $base-color;
  transition: 0.5s;
  cursor: pointer;

}

@media screen and (max-width : 600px) {

 .clubs {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 30px;
  width: auto;
  }

  .button-create {
    justify-content: center;
  }

  button {
    margin-top: 60px;
    margin-bottom: 0px;
  }
}
