$primary: var(--primary-color);
$secondary: var(--secondary-color);

.edit {
  background-color: #F6F4F5 ;
  border-radius: 35px;
  display: flex;
  text-align: left;
  justify-content: center;
  align-items: center;
  margin: 80px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

button {
  border-radius: 10px;
  background-color : $secondary;
  border: none;
  font-weight: bold;
  justify-content: end;
}

input {
  border-radius: 20px;
  width: 400px;
}

.form-group
 {
   margin: 30px;
 }

 .colorpicker {
   height:50px;
   width: 100px;
   margin-bottom: 30px;
 }

 .button {
   text-align: right;
 }

 svg {
  height: 20px;
}

@media screen and (max-width : 600px) {

  .edit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px;
  width: auto;
  }

  input {
    width: auto;

  }

  .form-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .form-group button {
    margin: auto;
    width: 150px;
  }
}
