<h1>Bonjour!</h1>

<p>Pour modifier votre mot de passe, veuillez visiter le lien suivant</p>

<a href="{{ url('app_modify_password', {token: resetToken.token}) }}">{{ url('app_modify_password', {token: resetToken.token}) }}</a>

<p>Ce lien va expirer dans 1 heure.</p>

<p>Merci!</p>
