{% extends 'base.html.twig' %}

{% block title %}confirmation de la modification{% endblock %}

{% block body %}
    <div class="container-fluid">
        
            <p class="text">
            La modification de votre mot de passe s'est bien déroulée.
            </p>
            <p class="text">Vous pouvez vous reconnectez avec votre nouveau mot de passe. </p> 
            <p class="text"><a href="http://localhost:4200/">Accedez à la page de connexion</a></p>
        
    </div>
{% endblock %}