<header-bar></header-bar>
<side-bar></side-bar>
<div class="container-fluid button-create">
  <button class="btn btn-success" (click)="redirectToEditMyClub()"><svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6"></path>
  </svg> Créer un Club</button>
</div>
<div class="container-fluid clubs">
  <div class="container club" *ngFor="let club of clubs" (click)="redirectToDashboard()">
    <div class="logo">
      <img [src]="club.logo" width=200px/>
    </div>
    <div class="club-name">
        <h1>{{ club.name }}</h1>
    </div>
  </div>
</div>
