.side-bar {
  background-color: #f6f4f5;
  height: 100vh;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px;
}

.btn-side-bar {
  background-color: #4ac285;
}

.logo-club {
  margin-top:30px;
}

svg {
  height: 20px;
}

button {
  margin-top: 100px;
  margin-left: 30px;
  padding: 10px;
}
