<button>Créer une nouvelle cotisation</button>
<h3>MES COTISATIONS</h3>

<div class="content-card">
  <div class="subscription" *ngFor="let subscription of subscriptions">
    <div class="card" style="width: 18rem">
      <div class="card-body">
        <h5 class="card-title">Catégorie: {{ subscription.type }}</h5>
        <verify-modal
          class="delete-button"
          [subscription]="subscription"
          (removeClick)="onRemoveClick($event)"
        ></verify-modal>
        <h6 class="card-subtitle mb-2 text-muted">
          Tarif: {{ subscription.amount }}€
        </h6>
        <p class="card-text">
          Date d'expiration {{ subscription.end_date | date: "dd/MM/yyyy" }}
        </p>
      </div>
    </div>
    <button>Editer</button>
  </div>
</div>
