.content-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.delete-button {
  position: absolute;
  top: 0;
  right: 0;
  height: 30px;
  width: 30px;
  margin: 5px;
}

.subscription {
  margin: 10px;
}
