<div class="body-component">
  <div class="add-subscription">
    <create-subscription (newSubscription)="addSubscription($event)">
    </create-subscription>
  </div>
  <h2 class="heading2">MES COTISATIONS</h2>

  <div class="content-card">
    <div class="subscription" *ngFor="let subscription of subscriptions">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Catégorie: {{ subscription.name }}</h5>
          <verify-modal
            class="delete-button"
            [subscription]="subscription"
            (removeClick)="onRemoveClick($event)"
          ></verify-modal>
          <h5 class="card-title">Tarif: {{ subscription.amount }} €</h5>
          <h5 class="card-title">
            Validité de la cotisation : {{ subscription.durationInMonths }} mois
          </h5>
        </div>
      </div>
      <edit-subscription
        [subscription]="subscription"
        (editedSubscription)="editSubscription($event)"
      >
      </edit-subscription>


    </div>
  </div>
</div>
