$base-color: #4ac285;
$font-color-dark: white;
$font-color-light: black;
$font-title: "Bebas Neue";
$font-text: "Red Hat Display";

.green-logo {
  display: none;
}

h1,
h2 {
  font-family: $font-title;
}

p {
  font-family: $font-text;
}
h1,
.white-text {
  color: $font-color-light;
}

h1 {
  margin-bottom: 30px;
}

.login {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-form {
  width: 500px;
}

.form-group {
  margin: 30px;
  font-family: $font-text;
}

button {
  margin-bottom: 25px;
  border-radius: 10px;
  background-color: $base-color;
  border: none;
  font-weight: bold;
}

input,
select {
  border-radius: 20px;
}

.layout {
  display: flex;
  height: 100vh;
  padding: 0;
}

.etoile {
  color: red;
}

svg {
  height: 20px;
}

p {
  margin-top: 20px;
}

.edit {
  background-color: #f6f4f5;
  border-radius: 35px;
  display: flex;
  text-align: left;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.ajout {
  display: flex;
  justify-content: end;
}

@media screen and (max-width: 600px) {
  .welcome-page {
    display: none;
  }
  .green-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
}
