<div class="container">
  <div>
    <h1>SimpleTech Login</h1>
  </div>
  <div>
    <form>
      <div>
        <label>Username</label>
        <input
          matInput
          placeholder="Username"
          name="username"
          [(ngModel)]="user.email"
        />
      </div>
      <div>
        <label>Password</label>
        <input
          matInput
          placeholder="Password"
          name="password"
          type="password"
          [(ngModel)]="user.password"
        />
      </div>
      <button
        id="btn-login"
        mat-raised-button
        color="primary"
        (click)="login()"
      >
        Login
      </button>
    </form>
  </div>
</div>
