$base-color: #4ac285;
$font-color-dark: white;
$font-color-light: black;
$font-title: "Bebas Neue";
$font-text: "Red Hat Display";
.etoile {
  color: red;
}

.cestbon:valid {
  background-color: green;
}
.cestbon:invalid {
  background-color: red;
}

button {
  border-radius: 10px;
  background-color: $base-color;
  border: none;
  font-weight: bold;
}

input[type="radio"] {
  margin-left: 10px;
  margin-right: 10px;
}

input,
select {
  border-radius: 20px;
}

svg {
  height: 20px;
}
