<div class="container box">
  <ng-template #content let-modal>
    <div class="modal-header">
      <h1 class="modal-title" id="modal-basic-title">Ajouter un champ</h1>
      <button
        type="button"
        class="close button"
        aria-label="Close"
        (click)="modal.dismiss('Cross click')"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form
        name="addField"
        (ngSubmit)="addField.valid && onSubmit()"
        #addField="ngForm"
        novalidate
      >
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label for="label">Label: <span class="etoile">*</span></label>
              <input
                id="label"
                type="text"
                name="label"
                #label="ngModel"
                [(ngModel)]="supplyFields.label"
                class="form-control"
                [ngClass]="{
                  'is-invalid': addField.submitted && label.invalid
                }"
                required
              />
              <div
                *ngIf="addField.submitted && label.invalid"
                class="invalid-feedback"
              >
                <div *ngIf="label.errors.required">
                  Veuillez renseignez un label
                </div>
              </div>
            </div>

            <div class="form-group">
              <label for="type"
                >Type du champ: <span class="etoile">*</span></label
              >
              <select
                id="type"
                class="form-select"
                [(ngModel)]="supplyFields.type"
                #type="ngModel"
                name="type"
                [ngClass]="{ 'is-invalid': addField.submitted && type.invalid }"
                required
              >
                <option *ngFor="let type of typeField" [value]="type">
                  {{ type }}
                </option>
              </select>
              <div
                *ngIf="addField.submitted && type.invalid"
                class="invalid-feedback"
              >
                <div *ngIf="type.errors.required">
                  Veuillez renseigner un type pour le champ
                </div>
              </div>
              <div *ngIf="supplyFields.type == 'text'">
                Ce type de champ permet de rentrer des données sous forme de
                texte exemple: (nom, prénom ...)
              </div>
              <div *ngIf="supplyFields.type == 'number'">
                Ce type de champ permet de rentrer des données sous forme de
                nombre exemple: (poids, taille...)
              </div>
              <div *ngIf="supplyFields.type == 'date'">
                Ce type de champ permet de rentrer des données sous forme de
                date exemple: (dernier match pro joué, dernière compétition...)
              </div>
              <div *ngIf="supplyFields.type == 'select'">
                Ce type de champ permet de rentrer des données sous forme de
                d'option exemple: (taille pour l'équipement...)
                <div class="form-group">
                  <label for="option"
                    >Option du select: <span class="etoile">*</span></label
                  >
                  <input
                    id="option"
                    type="text"
                    name="option"
                    #option="ngModel"
                    [(ngModel)]="optionName"
                    class="form-control"
                    [ngClass]="{
                      'is-invalid': addField.submitted && option.invalid
                    }"
                    required
                  />
                  <div
                    *ngIf="addField.submitted && option.invalid"
                    class="invalid-feedback"
                  >
                    <div *ngIf="option.errors.required">
                      Veuillez renseignez une option
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="form-group button">
              <button type="submit" class="btn btn-primary">Ajouter</button>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <p>Value: {{ label.value }}</p>
      <button type="button" class="btn" (click)="modal.close('Save click')">
        <svg
          class="w-6 h-6"
          fill="none"
          stroke="currentColor"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M8 7H5a2 2 0 00-2 2v9a2 2 0 002 2h14a2 2 0 002-2V9a2 2 0 00-2-2h-3m-1 4l-3 3m0 0l-3-3m3 3V4"
          ></path>
        </svg>
        Enregistrer
      </button>

      <hr />
      <pre>{{ closeResult }}</pre>
      <br />
    </div>
  </ng-template>

  <button class="btn btn-success" (click)="openLg(content)">
    <svg
      class="w-6 h-6"
      fill="none"
      stroke="currentColor"
      viewBox="0 0 24 24"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M12 6v6m0 0v6m0-6h6m-6 0H6"
      ></path>
    </svg>
    Ajouter un champ
  </button>
</div>
